.App {
  text-align: center;
}

.App form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
} 

.App .input {
  text-align: center;
  font-size: 15.5px;
  outline: none;
  height: 2rem;
  width: 25rem;
  border: none;
  padding: 2px 2px;
  transition: 0.5s;
} 

.App .input:focus {
  outline: none;
  border-bottom: 2.5px solid gray;
} 

.App .submit-button {
  margin-top: 2rem;
  width: auto;
  height: auto;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  transition: 0.25s;
}

.App .submit-button:hover {
  border: 1.5px solid gray;
  background-color: lightgrey;
  cursor: pointer;
}

.App .bottom-elements {
  margin-top: 12rem;
}

.App .bottom-text {
  padding: 5px 20px;
}

.genre-text {
  color: black;
  outline: none;
  text-decoration: none;
  transition: 0.25s;
}

.genre-text:hover {
  font-size: 20px;
  text-decoration: underline;
}

